@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, big, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike,
b, u, i, center,
ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif; }

::selection {
  color: #fbfbfb;
  background: #204264; }

.hljs {
  font-family: Monaco; }

header {
  height: 50px;
  width: 100%;
  background: #204264;
  position: fixed;
  color: #fff;
  z-index: 99999; }
  header .banner {
    position: absolute;
    left: 20px;
    top: 18px;
    font-weight: 800; }
    header .banner a {
      color: #fff;
      text-decoration: none; }
  header .menu {
    position: absolute;
    display: none;
    right: 20px;
    top: 18px; }
    @media screen and (max-width: 376px) {
      header .menu {
        display: block; } }
  header .menu_list {
    display: block;
    position: absolute;
    right: 0;
    list-style: none;
    transition: all .1s ease-out; }
    @media screen and (max-width: 376px) {
      header .menu_list {
        top: 50px;
        width: 100%;
        background: #ccc;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around; } }
    @media screen and (max-width: 376px) {
      header .menu_list.hide {
        transform: translate3d(-100%, 0, 0); } }
    @media screen and (max-width: 376px) {
      header .menu_list.show {
        transform: translate3d(0, 0, 0); } }
    header .menu_list li {
      float: left; }
      header .menu_list li a {
        color: #fff;
        padding: 0 14px;
        line-height: 50px;
        font-size: 1em;
        text-decoration: none;
        display: inline-block;
        height: 100%;
        width: 100%; }
        header .menu_list li a:hover {
          text-decoration: underline; }
        @media screen and (max-width: 376px) {
          header .menu_list li a {
            padding: 0; } }

.nav {
  float: right; }

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 100px 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fbfbfb; }
  @media screen and (max-width: 376px) {
    .main {
      padding-top: 80px; } }
  .main article {
    width: 60%;
    min-height: 60px;
    margin: 20px 0;
    padding: 10px 10px; }
    @media screen and (max-width: 376px) {
      .main article {
        width: 80%; } }
    .main article .post-title {
      word-break: break-all;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      color: #204264;
      transition: color ease .2s; }
      .main article .post-title:hover {
        color: #41a0cc; }
      .main article .post-title a {
        font-family: 'Georgia', "Hiragino Sans GB", serif;
        display: block;
        font-size: 2.2em;
        line-height: 1.35em;
        font-weight: normal;
        width: 100%;
        text-decoration: none;
        color: inherit;
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre; }
        @media screen and (max-width: 376px) {
          .main article .post-title a {
            padding-left: 0;
            font-size: 1.5em; } }
      .main article .post-title i {
        font-size: 2em; }
        @media screen and (max-width: 376px) {
          .main article .post-title i {
            display: none; } }
      .main article .post-title span {
        font-family: 'Georgia', "Hiragino Sans GB", serif;
        font-size: 28px;
        font-weight: normal; }
    .main article .date {
      display: inline-block;
      font-size: 14px;
      margin-top: 10px; }
      .main article .date i {
        vertical-align: bottom;
        margin-right: 10px; }
    .main article .article-tag-list {
      margin: 10px 0;
      list-style: none; }
      .main article .article-tag-list li {
        float: left;
        margin-right: 10px; }
        @media screen and (max-width: 376px) {
          .main article .article-tag-list li {
            margin-bottom: 12px; } }
        .main article .article-tag-list li a {
          text-decoration: none;
          color: #fff;
          width: 100%;
          height: 100%;
          padding: 4px 8px;
          background: #204264;
          transition: background ease .2s; }
          .main article .article-tag-list li a:hover {
            background: #41a0cc; }
    .main article .post-content {
      padding: 40px 0;
      color: #555;
      line-height: 1.2; }
      .main article .post-content h1 {
        font-size: 2em;
        margin: .6em 0; }
      .main article .post-content h2 {
        font-size: 1.8em;
        margin: .5em 0; }
      .main article .post-content h3 {
        font-size: 1.6em;
        margin: .4em 0; }
      .main article .post-content h4 {
        font-size: 1.4em;
        margin: .3em 0; }
      .main article .post-content h5 {
        font-size: 1.2em;
        margin: .2em 0; }
      .main article .post-content h6 {
        font-size: 1em;
        margin: .1em 0; }
      .main article .post-content ul, .main article .post-content ol {
        padding-left: 16px; }
      .main article .post-content strong {
        font-family: -webkit-pictograph; }
      .main article .post-content > table {
        margin: 1em auto;
        border: 1px solid #ccc; }
        .main article .post-content > table th, .main article .post-content > table td {
          padding: 1em;
          border: 1px solid #ccc; }
        .main article .post-content > table th {
          font-weight: 800;
          font-family: -webkit-pictograph;
          background: #efefef; }
      .main article .post-content p {
        font-size: 1.2em; }
      .main article .post-content > p {
        margin: 1em 0;
        line-height: 1.5; }
        .main article .post-content > p > img {
          display: block;
          margin: 0 auto 10px;
          max-width: 100%; }
      .main article .post-content > p code, .main article .post-content ul code, .main article .post-content ol code {
        background: #eaeef3;
        padding: 0 4px;
        color: #0048ab; }
      .main article .post-content a {
        color: #5badf0;
        transition: color ease .2s; }
        .main article .post-content a:hover {
          color: #41a0cc; }
      .main article .post-content .pullquote {
        margin: 0; }
        .main article .post-content .pullquote.left {
          float: left;
          margin-right: .5em; }
        .main article .post-content .pullquote.right {
          float: right;
          margin-left: .5em; }
      .main article .post-content ul {
        list-style: circle; }
      .main article .post-content ol {
        list-style: decimal; }
      .main article .post-content dl dd {
        margin-left: 2em; }
      .main article .post-content blockquote {
        padding: 0 20px;
        border: 1px solid #e3e3e3;
        border-left: 5px solid #204264;
        margin: 1em; }
        .main article .post-content blockquote p {
          margin: 1em 0; }
        .main article .post-content blockquote footer {
          margin: 1em 0;
          font-style: italic;
          height: inherit;
          line-height: 1.6em;
          font-size: 1em;
          background: inherit;
          display: flex;
          justify-content: space-around; }
          .main article .post-content blockquote footer strong {
            font-weight: 700;
            flex: 1; }
          .main article .post-content blockquote footer cite {
            flex: 4;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-line; }
        .main article .post-content blockquote.blockquote-center {
          margin: 10px 10px;
          padding: 20px 0;
          color: black;
          background: #f0f0f0;
          margin: 10px 10px;
          font-size: 24px;
          text-align: center;
          font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif; }
      .main article .post-content .video-container {
        height: 300px; }
        .main article .post-content .video-container iframe {
          height: 100%;
          width: 100%; }
    .main article .more {
      text-decoration: none;
      color: #204264;
      font-size: 1.3em;
      font-style: oblique; }
      .main article .more:hover {
        text-decoration: underline;
        color: #41a0cc; }
  .main .tag-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-top: 100px;
    justify-content: flex-start;
    padding: 0 40px; }
    .main .tag-list .tag-list-item {
      margin: 20px 20px; }
      .main .tag-list .tag-list-item .tag-list-link {
        text-decoration: none;
        background: #204264;
        padding: 10px 20px;
        color: #fff;
        transition: background ease .2s; }
        .main .tag-list .tag-list-item .tag-list-link:hover {
          background: #41a0cc; }
      .main .tag-list .tag-list-item .tag-list-count {
        background: #CC4C37;
        color: #fff;
        padding: 10px 10px; }

.archive {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .archive .year {
    font-size: 1.8em;
    font-weight: 800;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    width: 80%;
    text-align: center;
    padding: 40px 0; }
    .archive .year a {
      text-decoration: none;
      color: #666; }
  .archive .archive_item {
    color: #555555;
    width: 80%;
    padding: 20px 0;
    border-bottom: 1px solid #ccc; }
    .archive .archive_item .title {
      color: inherit;
      text-decoration: none;
      transition: color ease .2s; }
      .archive .archive_item .title:hover {
        color: #204264; }
    .archive .archive_item .date {
      float: right; }

.tags {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .tags h1 {
    font-size: 1.8em; }
  .tags .tag_item {
    width: 80%;
    padding: 20px 0;
    border-bottom: 1px solid #ccc; }
    .tags .tag_item .title {
      color: inherit;
      text-decoration: none; }
      .tags .tag_item .title:hover {
        color: #204264; }
    .tags .tag_item .date {
      float: right; }

.category-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: flex-start;
  padding: 0 40px; }
  .category-list .category-list-item {
    margin: 20px 20px; }
    .category-list .category-list-item .category-list-link {
      text-decoration: none;
      background: #204264;
      padding: 10px 20px;
      color: #fff;
      transition: background ease .2s; }
      .category-list .category-list-item .category-list-link:hover {
        background: #41a0cc; }
    .category-list .category-list-item .category-list-child {
      padding: 5px 0; }
    .category-list .category-list-item .category-list-count {
      background: #CC4C37;
      color: #fff;
      padding: 10px 10px; }

.pagination {
  margin-top: 30px;
  font-size: 1.2em; }
  .pagination a {
    color: #204264;
    text-decoration: none; }
    .pagination a:hover {
      text-decoration: underline; }
  .pagination .page-number {
    margin: 0 10px;
    vertical-align: middle; }
  .pagination .prev {
    margin-right: 4px; }
  .pagination .next {
    margin-left: 4px; }
  .pagination .current {
    color: #41a0cc;
    font-size: 1.4em;
    font-weight: 800; }

footer {
  background: #171F26;
  width: 100%;
  height: 60px;
  color: #B9BBBD;
  font-size: 12px;
  display: flex;
  justify-content: center; }
  footer .info {
    line-height: 60px; }
    footer .info a {
      color: #B9BBBD; }

.gallery {
  max-width: 100%; }

.line {
  margin-right: 10px; }

.feedback-btn{
  position: fixed;
  right: 60px;
  bottom : 70px;
  font-size: 18px;
}