
$document-bg: #fbfbfb;

$header-bg: #204264;

$title: #204264;
$title-hover: #41a0cc;

$tag: #204264;
$tag-hover: #41a0cc;

$more-link: #204264;
$more-link-hover: #41a0cc;

$pagination-link: #204264;
$pagination-current: #41a0cc;

$footer:  #171F26;

$tag-list-link: #204264;
$tag-list-link-hover: #41a0cc;
$tag-list-count: #CC4C37;

$blockquote-border-left: #204264;

$link: #5badf0;
$link-hover: #41a0cc;

$code-bg: #eaeef3;
$code-color: #0048ab;

$archive-item-hover: #204264;

$tag-item-hover: #204264;